body {
	background-color: white;
	font-family: Verdana;
	font-size: 15px;
	color: #0e0e0e;
	padding: 0px;
	text-align: justify;
	width: 1000px;
	margin: auto;
}

p{
	text-align:left;
	padding: 5px;
}

hr {
	display: block;
	margin-top: 8px;
	border-style: inset;
	border-width: 1px;
}

h1, h2 {
	color: #eb6160;
	padding: 0px;
}

h2 {
	font-size: 17px;
	margin: 5px;
}

#fejlec {
	padding: 10px;
	background-color: #ffffff;
	color: #eb6160;
	font-weight: normal;
	font-size:30px;
	font-weight: bold;
	text-align: right;

}

#tartalom {
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: left;
	background-color: white;

}

#oszlop1, #oszlop3 {

	float: left;
	padding: 0px;
	background-color: #ffffff;
}

#oszlop2{
	color: #c7c7c7;
	float: left;
	padding: 0px;
	background-color: #ffffff;
}

#lablec {
    clear: both;
    background-color: #ffffff;
}

.kep {
	width: 190px;
	margin-left: 10px;
	margin-right: 10px;
}

.kepalairas{
<<<<<<< HEAD
	text-align: center;
	font-size: 9px;
	
=======

>>>>>>> fcd7ebd1f4f9bff5b815567198789d781b4ee0e3
}

.szurke{
	color: #c7c7c7;
}

a:link, a:active, a:visited, a:hover {
	color: #0e0e0e;
}

